/*********************************************

This is the style file for this project.

**********************************************/

* {
  font-family: 'Press Start 2P', cursive;
}

#thought1,#thought2,#thought3,#thought4,#thought5 {
  background-color: beige;
}

#game {
  width: 1000px;
  height: 700px;
  background-color: black;
  color: white;
  margin: auto;
  position: relative;
  top: 70px;
}

#mainMenu {
  position: absolute;
  margin: auto;
  left: 270px;
  top: 180px;
  text-align: center;
}

#level1 {
  position: absolute;
  top: 180px;
  text-align: center;
}

#environment1 {
  position: absolute;
  display: block;
  background-color: red;
  z-index: 5555;
}

#miniGame2 {
  position: absolute;
  left: 400px;
  width: 200px;
}

#miniGame3 {
  position: absolute;
  left: 250px;
  width: 500px;
}

#miniGame4 {
  position: absolute;
  left: 200px;
  width:600px;
}

#level1End {
  position: absolute;
  width: 450px;
  left: 275px;
}

#level2 {
  position: absolute;
  top: 180px;
  display: none;
  text-align: center;
}

#level3 {
  top:180px;
  position: absolute;
  display:none;
  text-align: center;
}


#thought6,#thought7,#thought8,#thought9,#thought10 {
  color: black;
}

#miniGame2_medium {
  position: absolute;
  left: 400px;
  width: 200px;
}

#miniGame3_medium {
  position: absolute;
  left: 250px;
  width: 500px;
}

#miniGame4_medium {
  position: absolute;
  left: 200px;
  width:600px;
}
