/*********************************************

This is the style file for this project.

**********************************************/

* {
  font-family: 'Press Start 2P', cursive;
}

#thought1,#thought2,#thought3,#thought4,#thought5 {
}

#game {
  width: 1000px;
  height: 700px;
  background-color: black;
  color: white;
  margin: auto;
  position: relative;
  top: 70px;
}

#mainMenu {
  position: absolute;
  margin: auto;
  left: 320px;
  top: 250px;
  text-align: center;
}

#level1 {
  position: relative;
  top: 180px;
  text-align: center;
}

#environment1 {
  position: absolute;
  display: block;
  background-color: red;
  z-index: 5555;
}

#miniGame1 {
  background-image: url("../assets/images/vignette2 bg.png");
  background-repeat: no-repeat;
  z-index: 10000;
}

#miniGame2 {
  position: absolute;
  left: 400px;
  width: 200px;
}

#miniGame3 {
  position: absolute;
  left: 250px;
  width: 500px;
}

#miniGame4 {
  position: absolute;
  left: 200px;
  width:600px;
}

#level1End {
  position: absolute;
  width: 450px;
  left: 275px;
}

#level2 {
  position: relative;
  top: 180px;
  display: none;
  text-align: center;
}

#level3 {
  top:180px;
  position: relative;
  display:none;
  text-align: center;
}


#thought6,#thought7,#thought8,#thought9,#thought10 {
  color: black;
}

#miniGame2_medium {
  position: absolute;
  left: 400px;
  width: 200px;
}

#miniGame3_medium {
  position: absolute;
  left: 250px;
  width: 500px;
}

#miniGame4_medium {
  position: absolute;
  left: 200px;
  width:600px;
}

#thought11,#thought12,#thought13,#thought14,#thought15 {
  color: black;
}

#money {
  position: absolute;
  top: 235px;
  right: 325px;
  z-index: 55555555;
}

#candy {
  position: absolute;
  bottom: 5px;
  right: 275px;
}

#bug {
  position: absolute;
  top: -210px;
  left: 300px;
  z-index: 1000000;
}

#picture {
  position: absolute;
  top: 50px;
  right: 100px;
}

#droppable {
  position: absolute;
  left: 200px;
  top: 200px;
}

#closedeyes, #halfeyes, #openedeyes {
  position: absolute;
  left: -25px;
  top: 300px;
  display: none;
}

#picture2 {
  position: absolute;
  top: -350px;
  left: -300px;
}

#picture3 {
  position: absolute;
  top: -150px;
  right: -340px;
}

#picture4 {
  position: absolute;
  bottom: 150px;
  left: 250px;
}
